.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 3px solid #CEE7F5;
}

.header-img {
    width: 100px;
    height: 100px;
    margin: 0;

    @media (max-width: 768px) {
        width: 20%;
    height: 20%;
      }

}