button {
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  button:hover {
    transform: scale(1.1);
  }

  .textStyleAsk {
    overflow: hidden; /* Скрыть избыточный текст */
    font-size: 24px; /* Размер шрифта */
  }
  
  .textStyleAsk::after {
    content: "|"; /* Мигающий курсор в конце текста */
    animation: cursorBlink 0.7s infinite;
    display: inline-block;
    width: 0; /* Начальная ширина для создания эффекта печатания */
  }
  
  @keyframes cursorBlink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  