buttonLogo {
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  buttonLogo:hover {
    transform: scale(1.1);
  }
  
  @keyframes cursorBlink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  