.rectangle-first {
    width: 600px;
    height: 170px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Nunito;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    opacity: 0;
    animation: slideInLeft 1s forwards;
    animation-delay: 0s;
}

.rectangle-second {
    width: 1100px;
    height: 170px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Nunito;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    animation: slideInRight 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.rectangle-text-info {
    font-size: 120px;
    font-family: Nunito;
    font-weight: bold;
    color: #CEE7F5;
    margin-right: 70px;
}

.rectangle-text-info-3 {
    font-size: 120px;
    font-family: Nunito;
    font-weight: bold;
    color: #CEE7F5;
    margin-right: 120px;
}

.rectangle-text-info-1 {
    font-size: 120px;
    font-family: Nunito;
    font-weight: bold;
    color: #CEE7F5;
    margin-right: 120px;
}

.rectangle-third {
    width: 1600px;
    height: 170px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Nunito;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    animation: slideInLeft 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}

.pageSecond {
    background-color: #CEE7F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: 2px solid white;
}

.pageSecondInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.pageSecondInfoActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    1% {
      transform: translateX(-95%);
      opacity: 0.1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    1% {
      transform: translateX(95%);
      opacity: 0.1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .rectangleInfo {
    opacity: 0;
    
  }