.page {
    background: linear-gradient(to bottom, #CEE7F5, #096B92);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page h1 {
    color: #ffffff;
}