.VKicon {
  height: 48px;
  margin-right: 10px;
  margin-left: 10px;

  @media (max-width: 768px) {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  direction: row;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
    position: absolute;
    margin-top: 200%;
  }
}

.flex-footer-container {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-left: 10px;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: space-between;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    height: 2rem;
    margin-top: 20%;
  }
}

.button-icon {
  border: none;
  background: none;
  cursor: pointer;
  height: 48px;
  margin-left: 10px;

  @media (max-width: 768px) {
    height: 2rem;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
  }
}

.LineFooter {
  height: 48px;

  @media (max-width: 768px) {
    display: none;
  }
}
