.VKicon {
  height: 48px;
  margin-right: 10px;
  margin-left: 10px;

  @media (max-width: 768px) {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;

  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  direction: row;
  position: relative;

  @media (max-width: 768px) {
    width: 80%;
    justify-content: left;
    position: absolute;
    margin-bottom: -184%;
    flex-direction: column;

    height: auto;
    margin-top: 24%;
  }
}

.flex-footer-container {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-left: 10px;

  @media (max-width: 768px) {
    width: 80%;
    justify-content: left;
    margin-left: -4%;
    margin-right: auto;
    height: auto;

  }
}

.button-icon {
  border: none;
  background: none;
  cursor: pointer;
  height: 48px;
  margin-left: 10px;

  @media (max-width: 768px) {
    height: 2rem;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
  }
}

.LineFooter {
  height: 48px;

  @media (max-width: 768px) {
    display: none;
  }
}

.copy {
  color: white;
  margin-left: 0;
  font-size: 14px;
  text-align: left;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: -5%;

}